In [ ]:
import kagglehub
from kagglehub import KaggleDatasetAdapter
import pandas as pd

In [ ]:
# Download latest version
# https://www.kaggle.com/datasets/ahmedshahriarsakib/usa-real-estate-dataset
path = kagglehub.dataset_download("ahmedshahriarsakib/usa-real-estate-dataset")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\brune\.cache\kagglehub\datasets\ahmedshahriarsakib\usa-real-estate-dataset\versions\25

# NOTE: You will need to either move the file downloaded in previous cell to another folder or configure your system to have read permission to where it is downloaded. <br> 
For this tutorial I just moved it.

In [15]:
df = pd.read_csv("./data/realtor-data.csv")

In [16]:
df.head()

,brokered_by,status,price,bed,bath,acre_lot,street,city,state,zip_code,house_size,prev_sold_date
0,103378.0,for_sale,105000.0,3.0,2.0,0.12,1962661.0,Adjuntas,Puerto Rico,601.0,920.0,NaN
1,52707.0,for_sale,80000.0,4.0,2.0,0.08,1902874.0,Adjuntas,Puerto Rico,601.0,1527.0,NaN
2,103379.0,for_sale,67000.0,2.0,1.0,0.15,1404990.0,Juana Diaz,Puerto Rico,795.0,748.0,NaN
3,31239.0,for_sale,145000.0,4.0,2.0,0.10,1947675.0,Ponce,Puerto Rico,731.0,1800.0,NaN
4,34632.0,for_sale,65000.0,6.0,2.0,0.05,331151.0,Mayaguez,Puerto Rico,680.0,NaN,NaN